    <h3>hashtagpresident.com</h3>
    <div class="panel panel-default">
    <div class="panel-heading">2016 Presidential Candidates</div>
    <ul class="nav nav-pills">
        <li class="active"><a href="#" id="AllButton">All</a></li>
        <li><a href="#" id="DemocratsButton">Democrats</a></li>
        <li><a href="#" id="RepublicansButton">Republicans</a></li>
    </ul>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.8/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $('#main').DataTable( {
          "paging":   false,
          "info":     false,
          "order": [[ 3, "desc" ]],
          "searching": true,
           "ajax": {
            "url": "./welcome/data.json",
            "dataSrc": ""
          },
           "columns": [
            { "data": "Name" },
            { "data": "Party" },
            { "data": "Twitter URL" },
            { "data": "Followers Count"},
            { "data": "24change"},
            { "data": "24change Percent"}
        ]
        });
    });
  </script>
    <script type="text/javascript">
      $('#DemocratsButton').on( 'click', function () {
        $(this).parent().addClass('active').siblings().removeClass('active');
        var table = $('#main').DataTable();
        table
          .columns( 1 )
          .search( 'Democrat' )
          .draw();
        } );
      $('#RepublicansButton').on( 'click', function () {
        $(this).parent().addClass('active').siblings().removeClass('active');
        var table = $('#main').DataTable();
        table
          .columns( 1 )
          .search( 'Republican' )
          .draw();
        } );
      $('#AllButton').on( 'click', function () {
        $(this).parent().addClass('active').siblings().removeClass('active');
        var table = $('#main').DataTable();
        table
          .columns( 1 )
          .search( '' )
          .draw();
        } );
    </script>

    <table class="table" id="main">
      <thead>
      <tr>
        <th>Name</th>
        <th>Party</th>
        <th>Twitter URL</th>
        <th>Followers</th>
        <th>24hr Change</th>
        <th>24hr Change (%)</th>
      </tr>
    </thead>
    <tbody>
      
    </tbody>
    </table>
    </div>